{{#if loading}}	
	<div class="text-center m-40">
		<i class="icon icon-spinner icon-spin"/>
		{{t "generic.loading"}}
	</div>
{{else}}
<CruCluster @applyClusterTemplate={{not (is-empty clusterTemplateRevision)}} @model={{record}} @provider={{provider}}
	@mode="new" @close={{action "close"}}   @done={{action "done"}} @clusterDriverError={{action "clusterDriverErrorAndTransition"}}
	@clusterTemplateRevisionId={{mut clusterTemplateRevision}} />
{{/if}}